本章内容：
操纵日期和缺失值
熟悉数据类型的转换
变量的创建和重编码
数据集的排序、合并与取子集
选入和丢弃变量

# 一个示例

In [1]:
manager <- c(1, 2, 3, 4, 5)
date <- c("10/24/08", "10/28/08", "10/1/08", "10/12/08", 
    "5/1/09")
gender <- c("M", "F", "F", "M", "F")
age <- c(32, 45, 25, 39, 99)
q1 <- c(5, 3, 3, 3, 2)
q2 <- c(4, 5, 5, 3, 2)
q3 <- c(5, 2, 5, 4, 1)
q4 <- c(5, 5, 5, NA, 2)
q5 <- c(5, 5, 2, NA, 1)
leadership <- data.frame(manager, date, gender, age, 
    q1, q2, q3, q4, q5, stringsAsFactors = FALSE)
#字符不识别为因子

In [2]:
leadership

  manager date     gender age q1 q2 q3 q4 q5
1 1       10/24/08 M      32  5  4  5   5  5
2 2       10/28/08 F      45  3  5  2   5  5
3 3       10/1/08  F      25  3  5  5   5  2
4 4       10/12/08 M      39  3  3  4  NA NA
5 5       5/1/09   F      99  2  2  1   2  1

# 创建新变量

In [3]:
mydata <- data.frame(x1=c(2,2,6,4),
                    x2=c(3,4,2,8))

In [4]:
mydata

  x1 x2
1 2  3
2 2  4
3 6  2
4 4  8

## 算数运算符

In [5]:
1 + 2

[1] 3

In [6]:
2 - 3

[1] -1

In [7]:
2 * 3

[1] 6

In [8]:
2 / 3

[1] 0.6666667

In [9]:
2 ^ 3

[1] 8

In [10]:
2 ** 3

[1] 8

In [11]:
5 %% 2   #5 mod 2

[1] 1

In [12]:
5 %/% 2   #地板除

[1] 2

## 第一种方式——直接赋值不存在的变量

In [13]:
mydata$sumx <- mydata$x1 + mydata$x2

In [14]:
mydata$meanx <- (mydata$x1 + mydata$x2)/2

In [15]:
mydata

  x1 x2 sumx meanx
1 2  3   5   2.5
2 2  4   6   3.0
3 6  2   8   4.0
4 4  8  12   6.0

## 第二种方式
(attach或者with）和第一种方式没有区别

## 第三种方式——transform()

In [16]:
mydata <- transform(mydata,
                   square_sumx = x1^2+x2^2,
                   Geometric_meanx = sqrt((x1^2+x2^2)/2))

In [17]:
mydata

  x1 x2 sumx meanx square_sumx Geometric_meanx
1 2  3   5   2.5   13          2.549510
2 2  4   6   3.0   20          3.162278
3 6  2   8   4.0   40          4.472136
4 4  8  12   6.0   80          6.324555

# 变量的重编码

## 逻辑运算符

In [18]:
1 < 2

[1] TRUE

In [19]:
2 <= 1

[1] FALSE

In [20]:
1 > 2

[1] FALSE

In [21]:
1 >= 1

[1] TRUE

In [22]:
3.14 == 3.1

[1] FALSE

In [23]:
3 != 4

[1] TRUE

In [24]:
!0

[1] TRUE

In [25]:
!1

[1] FALSE

In [26]:
FALSE | TRUE

[1] TRUE

In [27]:
FALSE & TRUE

[1] FALSE

In [28]:
isTRUE(0)

[1] FALSE

In [29]:
isFALSE(0)

[1] FALSE

In [30]:
isTRUE(2 < 3)

[1] TRUE

In [31]:
c(1:20) %in% c(2,5,8,9)

 [1] FALSE  TRUE FALSE FALSE  TRUE FALSE FALSE  TRUE  TRUE FALSE FALSE FALSE
[13] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE

In [32]:
'i' %in% 'iasdjas'

[1] FALSE

In [33]:
1 %in% 1:10

[1] TRUE

## 重新编码年龄

In [34]:
leadership

  manager date     gender age q1 q2 q3 q4 q5
1 1       10/24/08 M      32  5  4  5   5  5
2 2       10/28/08 F      45  3  5  2   5  5
3 3       10/1/08  F      25  3  5  5   5  2
4 4       10/12/08 M      39  3  3  4  NA NA
5 5       5/1/09   F      99  2  2  1   2  1

## 条件执行

variable[condition] <- expression   #当condition为TRUE时执行赋值

In [35]:
leadership <- within(leadership,{
    agecat <- NA
    agecat[age > 75] <- "Elder"
    agecat[age >=55 & age <= 75] <- "Middle Aged"
    agecat[age < 55] <- "Young"
    agecat[age == 99] <- NA   #99是一个异常值，设置为缺失
})

In [36]:
leadership

  manager date     gender age q1 q2 q3 q4 q5 agecat
1 1       10/24/08 M      32  5  4  5   5  5 Young
2 2       10/28/08 F      45  3  5  2   5  5 Young
3 3       10/1/08  F      25  3  5  5   5  2 Young
4 4       10/12/08 M      39  3  3  4  NA NA Young
5 5       5/1/09   F      99  2  2  1   2  1 NA

# 变量的重命名

## 第一种方式，fix()

In [37]:
fix(leadership)

![fix](img\fix.png)

In [38]:
leadership

  managerID date     gender age q1 q2 q3 q4 q5 agecat
1 1         10/24/08 M      32  5  4  5   5  5 Young
2 2         10/28/08 F      45  3  5  2   5  5 Young
3 3         10/1/08  F      25  3  5  5   5  2 Young
4 4         10/12/08 M      39  3  3  4  NA NA Young
5 5         5/1/09   F      99  2  2  1   2  1 NA

## 第二种方式，rename()，来自reshape包

install.packages('reshape')

In [39]:
library(reshape)
leadership <- rename(leadership,
                    c(date = 'testDate'))

In [40]:
leadership

  managerID testDate gender age q1 q2 q3 q4 q5 agecat
1 1         10/24/08 M      32  5  4  5   5  5 Young
2 2         10/28/08 F      45  3  5  2   5  5 Young
3 3         10/1/08  F      25  3  5  5   5  2 Young
4 4         10/12/08 M      39  3  3  4  NA NA Young
5 5         5/1/09   F      99  2  2  1   2  1 NA

## 第三种方式，names()，来自base包（自带）

In [41]:
leadership$country <- c('US','US','UK','UK','UK')
#突然发现，给的源代码少了一个变量，现在加上去

In [42]:
leadership

  managerID testDate gender age q1 q2 q3 q4 q5 agecat country
1 1         10/24/08 M      32  5  4  5   5  5 Young  US
2 2         10/28/08 F      45  3  5  2   5  5 Young  US
3 3         10/1/08  F      25  3  5  5   5  2 Young  UK
4 4         10/12/08 M      39  3  3  4  NA NA Young  UK
5 5         5/1/09   F      99  2  2  1   2  1 NA     UK

In [43]:
names(leadership)[5:9]<- c('item1','item2',
                           'item3','item4','item5')

In [44]:
leadership

  managerID testDate gender age item1 item2 item3 item4 item5 agecat country
1 1         10/24/08 M      32  5     4     5      5     5    Young  US
2 2         10/28/08 F      45  3     5     2      5     5    Young  US
3 3         10/1/08  F      25  3     5     5      5     2    Young  UK
4 4         10/12/08 M      39  3     3     4     NA    NA    Young  UK
5 5         5/1/09   F      99  2     2     1      2     1    NA     UK

# 缺失值

## 什么是缺失值

In [45]:
NA    #Not Available   缺失值

[1] NA

In [46]:
NaN   #Not a Number   不可能出现的值

[1] NaN

In [47]:
y <- c(1,2,3,NA)

In [48]:
is.na(y)

[1] FALSE FALSE FALSE  TRUE

In [49]:
is.na(leadership$item4)   #检测缺失值是否存在

[1] FALSE FALSE FALSE  TRUE FALSE

In [50]:
is.na(leadership[,5:9])

  item1 item2 item3 item4 item5
1 FALSE FALSE FALSE FALSE FALSE
2 FALSE FALSE FALSE FALSE FALSE
3 FALSE FALSE FALSE FALSE FALSE
4 FALSE FALSE FALSE  TRUE  TRUE
5 FALSE FALSE FALSE FALSE FALSE

## 数据框的小问题

In [51]:
#关于为什么这里加了一个逗号
leadership[,5:9]

  item1 item2 item3 item4 item5
1 5     4     5      5     5
2 3     5     2      5     5
3 3     5     5      5     2
4 3     3     4     NA    NA
5 2     2     1      2     1

In [52]:
#其实不加逗号也会得到相同的结果
leadership[5:9]
#因为数据框默认访问的时候就是按照列访问的，加了逗号只是强调

  item1 item2 item3 item4 item5
1 5     4     5      5     5
2 3     5     2      5     5
3 3     5     5      5     2
4 3     3     4     NA    NA
5 2     2     1      2     1

In [53]:
is.vector(5:9)   # 5:9 这是一个向量

[1] TRUE

In [54]:
#写出逗号更加直观
#还可以行和列同时取子集
leadership[c(1,3),5:9]

  item1 item2 item3 item4 item5
1 5     4     5     5     5
3 3     5     5     5     2

## 重新编码某些值为缺失值
前面已经写过，age为99的数据应为缺失值

## 在分析中排除缺失值

In [55]:
x <- c(1, 2, NA, 3, NaN)
y <- x[1] + x[2] + x[3] + x[4]
z <- sum(x)

In [56]:
x;y;z   #得到的都是缺失值

[1]   1   2  NA   3 NaN

[1] NA

[1] NA

In [57]:
sum(x, na.rm=TRUE)  #参数na.rm可以设置为TRUE表示移除缺失值
#同时NaN也被移除了?????

[1] 6

### 行删除

In [58]:
newdata <- na.omit(leadership);newdata   
#排除了所有含有缺失值的观测
#omit意为 删除，忽略，遗漏

  managerID testDate gender age item1 item2 item3 item4 item5 agecat country
1 1         10/24/08 M      32  5     4     5     5     5     Young  US
2 2         10/28/08 F      45  3     5     2     5     5     Young  US
3 3         10/1/08  F      25  3     5     5     5     2     Young  UK

# 日期值

## as.Date()
使用指定格式读取字符型变量，转化为日期值

In [59]:
mydates <- as.Date('2007-06-22');mydates

[1] "2007-06-22"

In [60]:
class(mydates)   #日期

[1] "Date"

In [61]:
as.Date('01/05/1965', '%m/%d/%Y')   
#可以设置格式读取对应的日期
#mm/dd/yyyy
#默认格式为上文的2007-06-22
#yyyy-mm-dd

[1] "1965-01-05"

In [62]:
leadership$testDate <- as.Date(leadership$testDate,
                               '%m/%d/%y')
#mm/dd/yy
#两位数年份用小写y，四位数年份用大写的Y

In [63]:
leadership$testDate

[1] "2008-10-24" "2008-10-28" "2008-10-01" "2008-10-12" "2009-05-01"

## 本地日期

In [64]:
Sys.Date()   #获取本地日期

[1] "2021-01-27"

In [65]:
date()    #获取当前日期和时间

[1] "Wed Jan 27 16:55:50 2021"

In [66]:
format(Sys.Date(), format="%a")  #format是格式化输出函数

[1] "周三"

## 日期加减法

R的内部在存储日期时，是使用自1970年1月1日以来的天数表示的，更早的日期则表示为负数。
这意味着可以在日期值上执行算术运算。

In [67]:
as.Date('2021-02-11')-as.Date('2021-01-27')
#还有十五天就是除夕了

Time difference of 15 days

In [68]:
birthday <- as.Date('2001-10-21')
today <- Sys.Date()
days <- difftime(today, birthday)
weeks <- difftime(today, birthday, units ='weeks')
hours <- difftime(today, birthday, units ='hours' )

In [69]:
days;weeks;hours

Time difference of 7038 days

Time difference of 1005.429 weeks

Time difference of 168912 hours

In [70]:
as.character(today)   #把日期转化为字符串

[1] "2021-01-27"

# 类型转换

数据类型，也就是class

## 判断函数

In [71]:
class(1:20);mode(1:20)

[1] "integer"

[1] "numeric"

In [72]:
is.numeric(1:20)

[1] TRUE

In [73]:
is.vector(1:20)

[1] TRUE

## 转换函数

In [74]:
as.logical(1:20)

 [1] TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE
[16] TRUE TRUE TRUE TRUE TRUE

In [75]:
as.vector('12345')

[1] "12345"

# 数据排序

In [76]:
leadership[order(leadership$age),]

  managerID testDate   gender age item1 item2 item3 item4 item5 agecat country
3 3         2008-10-01 F      25  3     5     5      5     2    Young  UK
1 1         2008-10-24 M      32  5     4     5      5     5    Young  US
4 4         2008-10-12 M      39  3     3     4     NA    NA    Young  UK
2 2         2008-10-28 F      45  3     5     2      5     5    Young  US
5 5         2009-05-01 F      99  2     2     1      2     1    NA     UK

In [77]:
order(leadership$age)   #默认升序排列

[1] 3 1 4 2 5

In [78]:
order(-leadership$age)  #加负号实现降序

[1] 5 2 4 1 3

In [79]:
leadership[order(leadership$gender,leadership$age),]
#多个排序量，先按性别，性别相同就按照年龄

  managerID testDate   gender age item1 item2 item3 item4 item5 agecat country
3 3         2008-10-01 F      25  3     5     5      5     2    Young  UK
2 2         2008-10-28 F      45  3     5     2      5     5    Young  US
5 5         2009-05-01 F      99  2     2     1      2     1    NA     UK
1 1         2008-10-24 M      32  5     4     5      5     5    Young  US
4 4         2008-10-12 M      39  3     3     4     NA    NA    Young  UK

# 数据集的合并（针对数据框）

## 添加列

In [80]:
dataFrameA <- data.frame(manager,q1,q2);dataFrameA
dataFrameB <- data.frame(manager,q3,q4);dataFrameB

  manager q1 q2
1 1       5  4
2 2       3  5
3 3       3  5
4 4       3  3
5 5       2  2

  manager q3 q4
1 1       5   5
2 2       2   5
3 3       5   5
4 4       4  NA
5 5       1   2

In [81]:
merge(dataFrameA, dataFrameB, by="manager")  
#以manager作为公共索引横向合并

  manager q1 q2 q3 q4
1 1       5  4  5   5
2 2       3  5  2   5
3 3       3  5  5   5
4 4       3  3  4  NA
5 5       2  2  1   2

In [82]:
#直接横向合并两个矩阵或者数据框，不需要公共索引
cbind(dataFrameA,dataFrameB)

  manager q1 q2 manager q3 q4
1 1       5  4  1       5   5
2 2       3  5  2       2   5
3 3       3  5  3       5   5
4 4       3  3  4       4  NA
5 5       2  2  5       1   2

## 添加行

In [83]:
A <- dataFrameA[1:2,];A
B <- dataFrameA[3:5,];B

  manager q1 q2
1 1       5  4
2 2       3  5

  manager q1 q2
3 3       3  5
4 4       3  3
5 5       2  2

In [84]:
rbind(A,B)

  manager q1 q2
1 1       5  4
2 2       3  5
3 3       3  5
4 4       3  3
5 5       2  2

# 数据集取子集

## 选入（保留）变量

In [85]:
leadership

  managerID testDate   gender age item1 item2 item3 item4 item5 agecat country
1 1         2008-10-24 M      32  5     4     5      5     5    Young  US
2 2         2008-10-28 F      45  3     5     2      5     5    Young  US
3 3         2008-10-01 F      25  3     5     5      5     2    Young  UK
4 4         2008-10-12 M      39  3     3     4     NA    NA    Young  UK
5 5         2009-05-01 F      99  2     2     1      2     1    NA     UK

### 标号索引

In [86]:
leadership[1:2]

  managerID testDate
1 1         2008-10-24
2 2         2008-10-28
3 3         2008-10-01
4 4         2008-10-12
5 5         2009-05-01

In [87]:
leadership[1:2,]

  managerID testDate   gender age item1 item2 item3 item4 item5 agecat country
1 1         2008-10-24 M      32  5     4     5     5     5     Young  US
2 2         2008-10-28 F      45  3     5     2     5     5     Young  US

### 名称索引

In [88]:
leadership[c('item1','item2')]

  item1 item2
1 5     4
2 3     5
3 3     5
4 3     3
5 2     2

### 逻辑值索引

In [89]:
leadership[c(TRUE,TRUE,FALSE,FALSE,FALSE,
             FALSE,FALSE,FALSE,FALSE,FALSE,FALSE)]

  managerID testDate
1 1         2008-10-24
2 2         2008-10-28
3 3         2008-10-01
4 4         2008-10-12
5 5         2009-05-01

In [90]:
#生成item1-5的方法
paste('item', 1:5, sep='')

[1] "item1" "item2" "item3" "item4" "item5"

## 剔除（丢弃）变量

### 逻辑值索引

In [91]:
names(leadership)  #生成所有变量的一个字符型向量

 [1] "managerID" "testDate"  "gender"    "age"       "item1"     "item2"
 [7] "item3"     "item4"     "item5"     "agecat"    "country"

In [92]:
names(leadership) %in% c('country','age')  #生成逻辑值

 [1] FALSE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE

In [93]:
!names(leadership) %in% c('country','age')  #反转逻辑值

 [1]  TRUE  TRUE  TRUE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE FALSE

In [94]:
leadership[!names(leadership) %in% c('country','age')]
#逻辑值索引

  managerID testDate   gender item1 item2 item3 item4 item5 agecat
1 1         2008-10-24 M      5     4     5      5     5    Young
2 2         2008-10-28 F      3     5     2      5     5    Young
3 3         2008-10-01 F      3     5     5      5     2    Young
4 4         2008-10-12 M      3     3     4     NA    NA    Young
5 5         2009-05-01 F      2     2     1      2     1    NA

### 标号索引

In [95]:
leadership[c(-4,-11)]   #剔除第四列和第十一列

  managerID testDate   gender item1 item2 item3 item4 item5 agecat
1 1         2008-10-24 M      5     4     5      5     5    Young
2 2         2008-10-28 F      3     5     2      5     5    Young
3 3         2008-10-01 F      3     5     5      5     2    Young
4 4         2008-10-12 M      3     3     4     NA    NA    Young
5 5         2009-05-01 F      2     2     1      2     1    NA

In [96]:
leadership   
#上述操作赋值给leadership即可实现删除变量
#但是我这里保持leadership不变，方便演示跟多方法

  managerID testDate   gender age item1 item2 item3 item4 item5 agecat country
1 1         2008-10-24 M      32  5     4     5      5     5    Young  US
2 2         2008-10-28 F      45  3     5     2      5     5    Young  US
3 3         2008-10-01 F      25  3     5     5      5     2    Young  UK
4 4         2008-10-12 M      39  3     3     4     NA    NA    Young  UK
5 5         2009-05-01 F      99  2     2     1      2     1    NA     UK

### 赋值为NULL

In [97]:
leadership$age <- NULL

In [98]:
leadership

  managerID testDate   gender item1 item2 item3 item4 item5 agecat country
1 1         2008-10-24 M      5     4     5      5     5    Young  US
2 2         2008-10-28 F      3     5     2      5     5    Young  US
3 3         2008-10-01 F      3     5     5      5     2    Young  UK
4 4         2008-10-12 M      3     3     4     NA    NA    Young  UK
5 5         2009-05-01 F      2     2     1      2     1    NA     UK

## 选入观测

In [99]:
leadership$gender == 'M';leadership$country == 'UK'

[1]  TRUE FALSE FALSE  TRUE FALSE

[1] FALSE FALSE  TRUE  TRUE  TRUE

In [100]:
leadership$gender == 'M' & 
                 leadership$country == 'UK'
#逻辑运算

[1] FALSE FALSE FALSE  TRUE FALSE

In [101]:
which(leadership$gender == 'M' & 
                 leadership$country == 'UK')
#witch函数找到TRUE的下标

[1] 4

In [102]:
leadership[4,]

  managerID testDate   gender item1 item2 item3 item4 item5 agecat country
4 4         2008-10-12 M      3     3     4     NA    NA    Young  UK

In [103]:
leadership[which(leadership$gender == 'M' & 
                 leadership$country == 'UK'),]

  managerID testDate   gender item1 item2 item3 item4 item5 agecat country
4 4         2008-10-12 M      3     3     4     NA    NA    Young  UK

## subset()

subset(x, subset, select, drop = FALSE, ...)

x	
object to be subsetted.

subset	
logical expression indicating elements or rows to keep: missing values are taken as false.

select	
expression, indicating columns to select from a data frame.

drop	
passed on to [ indexing operator.

...	
further arguments to be passed to or from other methods.

In [104]:
subset(leadership, agecat >=35 | agecat <24 ,
       select=gender:item4)

  gender item1 item2 item3 item4
1 M      5     4     5      5
2 F      3     5     2      5
3 F      3     5     5      5
4 M      3     3     4     NA

## 随机抽样

In [105]:
nrow(leadership);ncol(leadership)

[1] 5

[1] 10

In [106]:
sample(1:nrow(leadership), 3,
       replace=FALSE)  #1到5，无放回抽取三个数

[1] 1 5 2

In [107]:
leadership[sample(1:nrow(leadership),3,replace=FALSE),]
#随机抽三行

  managerID testDate   gender item1 item2 item3 item4 item5 agecat country
2 2         2008-10-28 F      3     5     2     5     5     Young  US
5 5         2009-05-01 F      2     2     1     2     1     NA     UK
3 3         2008-10-01 F      3     5     5     5     2     Young  UK

In [108]:
leadership[sample(1:ncol(leadership),3,replace=FALSE)]
#随机抽三列

  item5 agecat testDate
1  5    Young  2008-10-24
2  5    Young  2008-10-28
3  2    Young  2008-10-01
4 NA    Young  2008-10-12
5  1    NA     2009-05-01

In [109]:
save.image()